<p>Guayra nace irreverente algun dia de Junio del 2005, se retuerce
buscando el camino entre coincidencias, desencuentros y posibilidades.
Atravieza el Invierno como un vendaval alimentandose de musica y de
amigos en las entra&ntilde;as de Casacarranza y florece, como todo, en
Primavera, con un proyecto sonoro, inquieto, hibrido, mutante.. pero
decidido.</p>

<p>Con raices latinoamericanas en el corazon y sostenida por un poderoso
tronco Rock, intenso pero flexible, Guayra brota, trepa y se enrieda
en variadas experiencias musicales sin respetar mas limite que el de
su propia voluntad de ir donde la lleve el viento, el sonido y la
imaginacion.</p>