
	<p align="center"><a href="http://www.myspace.com/disfrutaguayra" target="_blank">MySpace</a> | 
			<a href="http://fotolog.com/guayra" target="_blank">Fotolog</a> |
		 <a href="http://purevolume.com/guayra" target="_blank">PureVolume</a> |
		 <a href="http://www.facebook.com/pages/Guayra/7918728070" target="_blank">FaceBook</a></p>
		<p align="center"><a href="http://disfrutaguayra.com.ar/mailman/listinfo/info_disfrutaguayra.com.ar">Suscribite al mailing para saber sobre fecha y eventos</a>