<h1>Editing noticia</h1>

<%= error_messages_for :noticia %>

<% form_for(@noticia, :html=> {:multipart=>true}) do |f| %>
<%= render :partial => 'form', :locals=>{:f=>f} %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>